body{
    padding: 0;
    margin: 0;
    width: 100%;
}

#navigation{
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-link-custom{
    color: white;
}

.nav-link-custom:hover{
    color: turquoise;
}

#home{
    background-image: url();
}